@media screen and (max-width: 768px) {

  table {
    display: inline-block;
    margin: 48px;
    padding: 12px;
    border-radius: 32px;

    font-size: 36pt;
  }

  td {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 12px;
    padding: 70px 0px;
    border-radius: 16px;
    box-sizing: border-box;

  }
}

@media screen and (max-width: 1024px) {

  header {
    display: fixed;
    top: 0;
    left: 0;
  }

  #score {

  }

  table {
    display: inline-block;
    margin: 48px;
    padding: 12px;
    border-radius: 32px;

    font-size: 36pt;
  }

  td {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 12px;
    padding: 70px 0px;
    border-radius: 16px;
    box-sizing: border-box;

  }
}


@media screen and (max-width: 1440px) {
  #score {
    font-size: 32pt;
    width: 192px;
  }

  table {
    display: inline-block;
    margin: 48px;
    padding: 6px;
    border-radius: 24px;

    font-size: 24pt;
  }

  td {
    display: inline-block;
    width: 128px;
    height: 128px;
    margin: 6px;
    padding: 48px 0px;
    border-radius: 16px;
    box-sizing: border-box;

  }
}


@media screen and (min-width: 1441px) {

  #score {
    font-size: 64pt;
  }

  table {
    display: inline-block;
    margin: 48px;
    padding: 12px;
    border-radius: 32px;

    font-size: 36pt;
  }

  td {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 12px;
    padding: 70px 0px;
    border-radius: 16px;
    box-sizing: border-box;

  }
}
